services:
  frontend:
    command: npm run dev -- --host
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/node_modules/.vite
    ports:
      - "5174:5174"
    networks:
      - app-network

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    env_file: [".env.dev"]
    environment:
      - POSTGRES_HOST=db
      - BACKEND_HOST=backend
    volumes:
      - ./backend:/code
      - ./backend/media:/code/media
    ports:
      - "8001:8000"
    depends_on:
      db: { condition: service_healthy }
    networks:
      - app-network

  db:
    image: postgres:15
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    env_file: [".env.dev"]
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile.dev
    volumes:
      - ./nginx/site.conf:/etc/nginx/templates/default.conf.template
      - ./backend/staticfiles:/code/staticfiles:ro
      - ./backend/media:/code/media:ro
    environment:
      - BACKEND_HOST=backend
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    networks:
      - app-network
    restart: always

networks:
  app-network:

volumes:
  db_data_dev:
