@import "./variables.css";

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
